*::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}
.d-flex {
  display: flex;
  justify-content: space-between;

}
.custom-1 {
  width: 40%;
}
.custom-2 {
  width: 40%;
}

.bg-light {
  background-color: #F3EED9;
}

.bg-brown {
  background-color: #824936;
}
.color-light {
  color: #F3EED9;
}
.color-white {
  color: #fff;
}
.bg-dark {
  background-color: #222C2A;
}
.content-text {
  font-weight: 300;
  width: 50%;
}
.content-col {
  display: flex;
  justify-content: space-between;
  padding: 3em 1em;
}
.content-col p {
  font-size: 21px;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
}
.heading-sub {
  font-weight: 300;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
}
.heading-title {
  color: #824936;
  text-align: center;
}
.heading {
  min-height: 680px;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.heading h1 {
  font-size: 60px;
}
.content-text {
  font-size: 18px;
}
.main-content {
  padding: 50px 15px;
}
.main-content p {
  margin: 0 15px;
  font-size: 21px;
}